{% load thumbnail %}
{% load article_tags %}

{% for comment in comments %}
    <div class="comment" id="{{ comment.id }}" style="grid-column: {{ comment.get_offset }}/ span 19;">
        <div class="comment-head">
            <span class="user-avatar">
                {% thumbnail comment.name.profile.photo "50x50" crop="center" as im %}
                    <a href="{{ comment.name.get_absolute_url }}"><img src="{{ im.url }}"></a>
                {% endthumbnail %}
            </span>
            <div class="comment-info">
                <span class="user-username">
                    <a href="{{ comment.name.get_absolute_url }}">{{ comment.name.username }}</a>
                </span>
                <span class="comment-date">
                    {% if comment.created|date:"i H d m Y" == comment.updated|date:"i H d m Y" %}
                        {{ comment.created|date:"j E Y" }}, о {{ comment.created|date:"H:i" }}
                    {% else %}
                        {{ comment.created|date:"j E Y" }}, о {{ comment.created|date:"H:i" }} (<em>редаговано</em>)
                    {% endif %}
                </span>
            </div>
            <div class="comment-button">
                {% if user.is_staff or comment.name == user %}
                    <button data-url="{% url 'blog:edit_comment' comment_id=comment.id%}" class="edit">Редагувати</button>
                    <button data-url="{% url 'blog:delete_comment' comment_id=comment.id%}" class="delete">Видалити</button>
                {% endif %}
            </div>
        </div>

        <div class="comment-body">
            {% if comment.path|length > 1 %}
                <div class="reply-to">
                    <em>Відповідь <a href="#{{ comment.path|index:-2 }}" onclick='showParent({{ comment.path|index:-2 }})'>{{ comment.reply_to }}</a></em>
                </div>
            {% endif %}

                <div class="comment-text">
                    {{ comment.body|linebreaks }}
                </div>
            </div>

        <div class="comment-footer">
            {% if user.is_authenticated %}
                <button data-action="reply" data-url="{% url 'blog:reply_comment' comment_id=comment.id %}"
                        class="reply">Відповісти</button>
            {% endif %}
{#            {% with users_like=comment.users_like.all %}#}
{#                <button data-id="{{ comment.id }}"#}
{#                        data-action="{% if request.user in users_like %}un{% endif %}like"#}
{#                        data-url="{% url 'blog:like_comment' %}" class="like" >Уподобати</button>#}
{#            {% endwith %}#}
        </div>
    </div>

    <script>
        function showParent(comment_id) {
        let parent = document.getElementById(comment_id);
        parent.animate([
                {backgroundColor: "#ffca80"},
                {backgroundColor: "white"}
            ],
                {duration: 1000,
                easing: "ease-in"})
    }
    </script>
{% endfor %}