{% load thumbnail %}
{% load article_tags %}
{#{% load bootstrap4 %}#}

{% for comment in comments %}
    <div class="comment" style="grid-column: {{ comment.get_offset }}/ span 15;">
        <div class="comment-head">
            <a href="{{ comment.name.get_absolute_url }}">
                <div class="user-info">
                    {% thumbnail comment.name.profile.photo "50x50" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </div>
                <span>
                    {{ comment.name.username }}
                </span>
            </a>

            {% if comment.created|date:"i H d m Y" == comment.updated|date:"i H d m Y" %}
                Опубліковано: {{ comment.created|date:"l, j E Y" }} о {{ comment.created|date:"H:i" }}
            {% else %}
                Редаговано: {{ comment.created|date:"l, j E Y" }} о {{ comment.created|date:"H:i" }}
            {% endif %}
            {% if user.is_staff or comment.name == user %}
                <button data-url="{% url 'articles:edit_comment' comment_id=comment.id%}" class="edit">Редагувати</button>
                <button data-url="{% url 'articles:delete_comment' comment_id=comment.id%}" class="delete">Видалити</button>
            {% endif %}
        </div>

        <div class="comment-body">
            {% if comment.path|length > 1 %}
                <div class="reply-to">
                    <p>Відповідь <a href="#{{ comment.path|index:-2 }}">{{ comment.reply_to }}</a></p>
                </div>
            {% endif %}

                <div class="comment-text">
                    {{ comment.body|linebreaks }}
                </div>
            </div>

        <div class="comment-footer">
            <button data-action="reply" data-url="{% url 'articles:reply_comment' comment_id=comment.id %}" class="reply">Відповісти</button>
{#            {% with users_like=comment.users_like.all %}#}
{#                <button data-id="{{ comment.id }}"#}
{#                        data-action="{% if request.user in users_like %}un{% endif %}like"#}
{#                        data-url="{% url 'articles:like_comment' %}" class="like" >Уподобати</button>#}
{#            {% endwith %}#}
        </div>
    </div>
{% endfor %}