{% extends "../base.html" %}
{% load thumbnail %}

{% block title %}Особистий кабінет{% endblock %}

{% block content %}
    <h1>Профіль користувача</h1>
    <div class="user-avatar profile">
        {% thumbnail profile.photo "200x200" crop="center" as im %}
            <img src="{{ im.url }}" alt="Profile photo">
        {% endthumbnail %}
    </div>
    <table class="user-profile">
        <tr>
            <td>Нікнейм:</td>
            <td>{{ request.user.username }}</td>
        </tr>
        <tr>
            <td>Повне ім'я:</td>
            <td>{{ request.user.get_full_name|default:"Ви не додали ваше ім'я" }}</td>
        </tr>
        <tr>
            <td>Електронна пошта:</td>
            <td>{{ request.user.email|default:"example@mail.com" }}</td>
        </tr>
        <tr>
            <td>Дата народження:</td>
            <td>{{ profile.date_of_birth }}</td>
        </tr>
    </table>

    <a href="{% url 'account:edit' %}"><button>Редагувати профіль</button></a>
    <a href="{% url 'account:password_change' %}"><button>Змінити пароль</button></a>

    <div>
    <p>Збережені статті:</p>
    {% for article in user.articles_bookmarked.all %}
        <ul>
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        </ul>
    {% endfor %}

    </div>
<!--    <h2>What's happening</h2>-->
<!--        <div id="action-list">-->
<!--            % for action in actions %}-->
<!--                % include "actions/action/detail.html" %}-->
<!--            % endfor %}-->
<!--        </div>-->
{% endblock %}

{% block domready %}

{% endblock %}