{% extends "../base.html" %}

{% block title %}Редагувати профіль{% endblock %}

{% block content %}
    <h1>Редагувати профіль</h1>
    <p>Ви можете відредагувати профіль використовуючи наступну форму:</p>
    <form action="." method="post" enctype="multipart/form-data" id="profile-form">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Зберегти зміни" class="button"></p>
    </form>
{% endblock %}
{% block domready %}
    $('#id_phone').inputmask("+380(99)999-99-99", {"placeholder": "_"});
    $('#id_date_of_birth').inputmask("99.99.9999", {"placeholder": "ДД.ММ.РРРР"});
{% endblock %}