{% extends "../base.html" %}
{% load static %}

{% block title %}Вхід{% endblock %}

{% block content %}
    <h1>Вхід</h1>
    {% if form.errors %}
        <p>Невірне ім'я користувача або пароль. Спробуйте знову</p>
    {% else %}
        <p>Будь ласка, використайте цю форму, щоб увійти. Якщо ви не маєте акаунта, то можете
            <a href="{% url 'account:register' %}">зареєструватися</a>
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'account:login' %}" method="post">
            <p>
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
            </p>
            <p>
                {{ form.password.errors }}
                {{ form.password.label_tag }}
                {{ form.password }}
                <label class="switch-eye">
                    <i class="flaticon-view" id="icon-eye"></i>
                    <input type="checkbox" name="eye" id="eye" onclick="showPassword()">
                </label>
            </p>
{#            {{ form.as_p }}#}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit">Увійти</button>
        </form>
        <p>
            <a href="{% url 'account:password_reset' %}">Забули пароль?</a>
        </p>
    </div>

    <div class="social">
        <ul>
            <li class="facebook">
                <a href="{% url 'social:begin' 'facebook' %}"> Увійти з Facebook</a>
            </li>

            <li class="google">
                <a href="{% url 'social:begin' 'google-oauth2' %}"> Увійти з Google</a>
            </li>
        </ul>
    </div>
    <script src="{% static 'js/show_password.js' %}"></script>
{% endblock %}