@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: "Georgia", serif;
	font-size: 18px;
  	background: #fffef9;
	display: flex;
	flex-direction: column;
}
footer, header {
	flex: 0 0;
}
footer {
	padding: 10px;
	background-color: #F57F17;
	text-align: center;
	color: white;
}
main {
	flex: 1 0;
	display: flex;
}
#content {
	padding-left: 8%;
	padding-bottom: 5%;
	flex: 1 0;
}
aside {
	flex: 0 0 30%;
	padding: 1em;
}

h1 {
	font-weight: normal;
	font-size: 2em;
	color: #FF3D00;
	margin-bottom: 10px;
}
h2, h3 {
	font-weight: normal;
	font-size: 1.5em;
	margin: 30px 0 5px;
}
p {
	line-height: 1.5em;
}
a {
	color: #FF3D00;
	text-decoration: none;
}
a:hover {
	color: #ff8934;
}
footer a {
	color: #B71C1C;
}
footer a:hover {
	color: black;
}

img {
    max-width: 100%;
    height: auto;
}
form:not([class]):not([id]) {
	margin: 50px;
	padding: 20px;
	width: 60%;
	min-width: 50%;
	border: 4px solid #fff;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
article {
	margin: 0 5vw;
}

form > p {
	display: flex;
	flex-direction: column;
}
.errorlist {
	color: #B71C1C;
	font-weight: bold;
}
.last-articles, .commented-articles {
	margin-bottom: 20px;
}
.article-info {
	margin-bottom: 2em;
	font-family: "Trebuchet MS", Trebuchet MS, sans-serif;
	text-transform: uppercase;
	line-height: 1.7;
}
.pagination {
	display: flex;
	justify-content: center;
}
.pagination > span {
	margin-left: 7%;
}
.user-profile td{
	padding: 4px 10px;
}

.site-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: #F57F17;
	margin-bottom: 30px;
	color: #F4FF81;
	padding: 10px;
}
.site-title {
  	font-family: "Pacifico", coursive;
	font-size: 1.5em;
}
.site-title, .nav-item > a {
	color: #F4FF81;
}
.site-title:hover, .nav-item > a:hover {
	color: #B71C1C;
}
.main-nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.main-nav ul li {
	margin: 0 7px;
}
input, button, .button{
	border: none;
    background-color: #FFB320;
    color: #B71C1C;
    border-radius: 20px;
    padding: 5px 15px;
	margin: 4px;
    font-size: 1em;
}
button:hover, .button:hover{
	background-color: #B71C1C;
    color: #FFB320;
}
.nav-item.selected a{
	color: #B71C1C;
}
.main-nav {
	position: relative;
	top: 5px;
}

#search {
	position: relative;
	top: -9px;
	height: 30px;
}
#search-button {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 20px 20px 0;
	height: 100%;
}
#search-field {
	border: none;
	height: 100%;
	width: 300px;
}

.flaticon-login, .flaticon-exit-2 {
	padding-right: 6px;
}

input {
	background-color: #fffef9;
	border: 3px solid #F57F17;
}
#id_title {
	width: 90%;
}
ul {
	list-style-type: none;
}
.add-comment {
	display: block;
}
textarea {
	padding: 5px;
	width: 70%;
	resize: none;
	border: 4px solid #FFB320;
	border-radius: 10px;
	font-family: "Georgia", serif;
	font-size: 20px;
}
.comment {
	background-color: white;
	margin-top: 30px;
	border: 4px solid #fff;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.comment-head {
	padding: 4px 4px 0 4px;
	height: 70px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}
.comment-body {
	padding: 8px;
}
.user-avatar {
	margin-right: 10px;
}
.user-avatar img {
	border: 4px solid #fff;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.user-avatar.profile {
	margin: 10px 30px;
}