@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: "Georgia", serif;
	color: #222;
	font-size: 20px;
  	background: #fffef9;

	display: flex;
	flex-direction: column;
}

header, footer, main {
	width: 100%;
	flex: 0 0;
}
footer {
	background-color: #F57F17;
	/*margin-top: 50px;*/
	flex-basis: 100px;
	padding-top: 10px;
	text-align: center;
	color: white;
}
footer a {
	color: #B71C1C;
}
footer a:hover {
	color: black;
}
main {
	flex: 1 0;
	display: flex;
	flex-direction: row;
}
form:not([class]):not([id]) {
	margin: 50px;
	padding: 20px;
	width: 60%;
	min-width: 50%;
	border: 4px solid #fff;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
form > p {
	display: flex;
	flex-direction: column;
}
.errorlist {
	color: #B71C1C;
	font-weight: bold;
}
#content {
	flex: 0 0 70%;
	padding: 1em;
}

aside {
	padding: 1em;
}


h1 {
	font-weight: normal;
	font-size: 2em;
	text-transform: capitalize;
	color: #FF3D00;
	margin-bottom: 10px;
}

h2, h3 {
	font-weight: normal;
	font-size: 1.5em;
	margin: 20px 0;
}

p, #sidebar {
	line-height: 1.5em;
}
.last-articles, .commented-articles {
	margin-bottom: 20px;
}

.lead {
	font-style: italic;
	font-size: 1.5em;
	color: black;
	line-height: 1.3em;
	margin: 1.5em 0;
}

.article-info {
	margin-bottom: 2em;
	font-family: "Trebuchet MS", Trebuchet MS, sans-serif;
	text-transform: uppercase;
	line-height: 1.7;
}
.pagination {
	display: flex;
	justify-content: center;
}
.pagination > span {
	margin-left: 7%;
}
.user-profile td{
	padding: 4px 10px;
}
a {
	color: #FF3D00;
	text-decoration: none;
}

a:hover {
	color: #ff8934;
}

.section-heading {
	border-bottom: 1px solid;
	padding-bottom: 10px;
	margin: 30px 0;
}

.site-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: #F57F17;
	margin-top: 0;
	margin-bottom: 30px;
	color: #F4FF81;
	padding: 10px;
}

.site-nav .site-title {
	margin: 0;
  font-family: "Pacifico", coursive;
	font-size: 1.5em;
  color: #F4FF81;
}

.site-nav a {
	color: #F4FF81;
	text-decoration: none;
}

.site-nav a:hover {
	color: #B71C1C;
}

.main-nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.main-nav ul li {
	margin: 0 7px;
}

.main-nav ul li:first-child {
	margin-left: 0;
}


article {
	margin: 0 5vw;
}
.nav-item .button, input, button, .button{
	border: none;
    background-color: #FFB320;
    color: #B71C1C;
    border-radius: 20px;
    padding: 5px 15px;
	margin: 4px;
    font-size: 1em;
}
.nav-item .button:hover, button:hover, .button:hover{
	background-color: #B71C1C;
    color: #FFB320;
}
.nav-item.selected a{
	color: #B71C1C;
}

.main-nav {
	position: relative;
	top: 10px;
}
#search {
	position: relative;
	top: -10px;
}

#search-field {
	background-color: #fffef9;
	border: none;
}
input {
	background-color: #fffef9;
	border: 3px solid #F57F17;
}

#id_title {
	width: 90%;
}

ul {
	list-style-type: none;
}


.add-comment {
	display: block;
}
textarea {
	padding: 5px;
	width: 70%;
	resize: none;
	border: 4px solid #FFB320;
	border-radius: 10px;
	font-family: "Georgia", serif;
	font-size: 20px;
}
.comment {
	background-color: white;
	margin-top: 30px;
	border: 4px solid #fff;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.comment-head {
	padding: 4px 4px 0 4px;
	height: 70px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}
.comment-body {
	padding: 8px;
}

/*.comment-info, .comment-button {*/
/*	width: calc(100% - 70px);*/
/*}*/

.user-avatar {
	margin-right: 10px;
}
.user-avatar img {
	border: 4px solid #fff;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.user-avatar.profile {
	margin: 10px 30px;
}

