{% extends "../../base.html" %}
{% load static %}

{% block title %}Створити нову статтю{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if user.is_staff %}
            <button type="submit">Додати в чернетки </button>
            <button type="submit" name="publish"> Опублікувати </button>
        {% else %}
            <button type="submit" name="draft"> Додати в чернетки </button>
            <button type="submit" name="moderation">Відправити на модерацію </button>
        {% endif %}
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}