{% extends "../../base.html" %}
{% load article_tags %}
{% load humanize %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <article>
    <div class="article-header">
        {% if article.author == user or user.is_staff %}
            <a href="{% url 'blog:update_article' article.slug %}"><button>Редагувати статтю</button></a>
            <a href="{% url 'blog:delete_article' article.slug %}"><button>Видалити статтю</button></a>
        {% endif %}

        <div class="article-info">
            <a href="{{ article.author.get_absolute_url }}">{{ article.author }}</a>
            |{{ article.date_created|naturalday:"j E Y" }}, о {{ article.date_created|date:"H:i" }}|
        </div>

        <div class="tags">
            {% for tag in article.tags.all %}
                <a href="{% url 'blog:all_articles_by_tag' tag.slug %}">
                    #{{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>

        <h1>{{ article.title }}</h1>



    </div>

    <div class="article-body">
        {{ article.text|safe }}
    </div>

    {% with users_like=article.users_like.all users_bookmark=article.users_bookmark.all %}
        <button data-id="{{ article.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
                data-url="{% url "blog:like_article" %}" id="like">
            {% if request.user not in users_like %}
                Вподобайка
            {% else %}
                Розподобайка
            {% endif %}
        </button>

        <button data-id="{{ article.id }}" data-action="{% if request.user in users_bookmark %}un{% endif %}bookmark"
                data-url="{% url "blog:bookmark_article" %}" id="bookmark">
            {% if request.user not in users_bookmark %}
                Додати в закладки
            {% else %}
                Видалити із закладок
            {% endif %}
        </button>

        <span class="count">
            Вподобайок <span class="total">{{ article.total_likes }}</span>
        </span>

        <span class="count">
            Споглядайок {{ total_views }}
        </span>
    {% endwith %}

{#    <h2><a href="{% url 'blog:post_share' article.id %}">Поділитися</a></h2>#}

    <h2>Схожа писанина</h2>
        {% for article in similar_articles %}
            <p>
                <a href="{{ article.get_absolute_url }}">{{article.title}}</a>
            </p>
        {% empty %}
            <p>На жаль, нічого схожого ще немає</p>
        {% endfor %}
    </article>
    <div class="new-comment">
        <h3>Залишити коментар</h3>
        {% if user.is_authenticated %}
            <form action="{% url 'blog:create_comment' article.id %}" method="post" class="new-comment-form">
                {{ comment_form }}
                {% csrf_token %}
                <button type="submit" class="add-comment">Додати коментар</button>
            </form>
        {% else %}
            <p>Коментування доступне лише <a href="{% url 'authentication:login' %}">авторизованим</a> користувачам</p>
        {% endif %}
    </div>

{#    {% with comments.count as total_comments %}#}
        <h2 class="count">Коментарів <span id="total-comments">{{ article.total_comments }}</span></h2>
{#    {% endwith %}#}

    <div class="all-comments" style="display: grid; grid-template-columns: repeat(24, 1fr);">
        {% include 'blog/comment/partial_comments_all.html' %}
    </div>
    <p id="empty" {% if article.total_comments %}style="display: none"{% endif %}>Поки що немає жодного коментарю. Будь першим!)</p>
{% endblock %}

{% block domready %}
    $('#like').click(function(e) {
        e.preventDefault();
        $.post($(this).data('url'),
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
                function(data) {
                    if (data['status'] == 'ok')
                    {
                        var previous_action = $('#like').data('action');
                        $('#like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                        $('#like').text(previous_action == 'like' ? 'Розподобайка' : 'Вподобайка');
                        var previous_likes = parseInt($('span.count .total').text());
                        $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                    }
                }
        );
    });

    var loadForm = function () {
        var button = $(this);
        var comment_body = button.parents('.comment');
        var temporary = comment_body.find('.temporary');
        var text = comment_body.find('.comment-text');
        var reply = comment_body.find(".reply");
        var form = button.parent();
        $.ajax({
            data: {
                action: $(this).data('action')
            },
            url: button.attr('data-url'),
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $('.edit-form').not(this).hide();
                $('.delete-form').not(this).hide();
                $('.reply-form').not(this).hide();
            },
            success: function (data) {
                $(reply).hide();
                if (data.action == 'reply') {
                    $(form).append(data.html_form);
                } else {
                    $(text).hide();
                    $(text).after(data.html_form);
                }
            }
        });
    }

    var saveForm = function () {
        var form = $(this);
        var text = form.parent();
        var total_comments = +($("#total-comments").text());
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function (data) {
                if (data.form_is_valid) {
                    if (form.attr("class") == "delete-form") {
                        $('#total-comments').text(total_comments - 1);
                        if (total_comments-1 == 0) {
                            $("#empty").show();
                        }
                    }
                    else if (form.attr("class") == "reply-form" ||
                             form.attr("class") == "new-comment-form") {
                        $('#total-comments').text(total_comments + 1);
                        $("#empty").hide();
                    }
                    $(".all-comments").html(data.html_comments_all);
                    $(form.find('textarea')).val('');
                }
            }
        });
        return false;
    }

    var cancelForm = function () {
        let button = $(this);
        let comment_body = button.parents('.comment');
        let text = comment_body.find('.comment-text');
        let form = comment_body.find('form');
        $(text).show();
        $(form).remove();
        $(".reply").show();
    }

    $('.all-comments').on("click", ".edit", loadForm);
    $('.all-comments').on('submit', '.edit-form', saveForm);

    $('.all-comments').on("click", ".delete", loadForm);
    $('.all-comments').on('submit', '.delete-form', saveForm);

    $('.new-comment').on('submit', '.new-comment-form', saveForm);

    $('.all-comments').on("click", ".reply", loadForm);
    $('.all-comments').on('submit', '.reply-form', saveForm);

    $('.all-comments').on("click", ".cancel", cancelForm);





    $('#bookmark').click(function(e) {
        e.preventDefault();
        $.post($(this).data('url'),
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
                function(data) {
                    if (data['status'] == 'ok')
                    {
                        var previous_action = $('#bookmark').data('action');
                        $('#bookmark').data('action', previous_action == 'bookmark' ? 'unbookmark' : 'bookmark');
                        $('#bookmark').text(previous_action == 'bookmark' ? 'Видалити із закладок' : 'Додати в закладки');
                    }
                }
        );
    });

    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 2000;
        if ($(window).scrollTop() > margin && empty_page == false &&
            block_request == false) {
                block_request = true;
                $.get(
                    '{% url "blog:all_comments" article.id %}?page=' + page,
                    function(data) {
                        if(data == '') {
                            empty_page = true;
                        } else {
                            block_request = false;
                            page += 1;
                            $('.all-comments').append(data);
                        }
                    });
            }
    });


{% endblock %}