{% extends "../../base.html" %}
{% load article_tags %}

{% block title %}Вся писанина{% endblock %}

{% block content %}

    {% if perms.articles.add_article %}
        <a href="{% url 'articles:create_article' %}"><button>Створити нову статтю</button></a>
        <a href="{% url 'articles:draft_list' %}"><button>Чернетки статей</button></a>
    {% endif %}

    {% if perms.articles.can_moderate_article %}
        <a href="{% url 'articles:moderation_list' %}"><button>Статті на модерації</button></a>
    {% endif %}
    
    {% if tag %}
        <h2>Статті за тегом "{{ tag.name }}":</h2>
    {% endif %}

    {% for article in articles %}
        <div class="article">
            <div class="article-header">
                <h2>
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </h2>
                <p class="tags">
                    {% for tag in article.tags.all %}
                        <a href="{% url 'articles:all_articles_by_tag' tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="date">{{ article.author_username }}  {{ article.date_created }}</p>
            </div>
            <div class="article-body">
                <picture>
                    <source srcset="{{ article.small_picture.url }}" media="(max-width: 767px)">
                    <source srcset="{{ article.medium_picture.url }}" media="((min-width: 768px) and (max-width: 991px))">
                    <source srcset="{{ article.large_picture.url }}" media="(min-width: 992px)">
                    <img src="{{ article.medium_picture.url }}" alt="{{ article.title }}">
                </picture>
                {{ article.text|striptags|safe|truncatewords:30 }}
            </div>
            <div class="article-footer">
                <p class="article-info">
                    Коментарів: {{ article.total_comments }} Вподобайок: {{ article.total_likes }}
                </p>
            </div>
        </div>

    {% endfor %}
    {% include "pagination.html" with page=articles %}
{% endblock %}
