{% extends "../../base.html" %}
{% load article_tags %}

{% block title %}Search{% endblock %}

{% block content %}
        <h1>Статті, що містять "{{ query }}"</h1>
        <h3>
        {% with results.count as total_results %}
        Знайдено {{ total_results }} результатів
        {% endwith %}
        </h3>

        {% for article in results %}
            <h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                {{ article.text|truncatewords:20|markdown }}
        {% empty %}
            <p>На жаль, за даним запитом нічого не знайдено.</p>
        {% endfor %}

{% endblock %}
