{% extends "../../base.html" %}
{% load static %}

{% block title %}Update article{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        {% if user.is_staff %}
            <input type="submit" value="Додати в чернетки" name="draft">
            <input type="submit" value="Опублікувати" name="publish">
        {% else %}
            <input type="submit" value="Додати в чернетки" name="draft">
            <input type="submit" value="Відправити на модерацію" name="moderation">
        {% endif %}
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}