{% extends "../../base.html" %}
{% load article_tags %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    {% if article.author == user or user.is_staff %}
        <h2><a href="{% url 'articles:update_article' article.slug %}">Update article</a></h2>
        <h2><a href="{% url 'articles:delete_article' article.slug %}">Delete article</a></h2>
    {% endif %}
    <h1 id="hey">{{ article.title }}</h1>

    {% for tag in article.tags.all %}
        <a href="{% url 'articles:all_articles_by_tag' tag.slug %}">
            {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}

    <p class="date">Published {{ article.date_created }} by {{ article.author }}</p>
    {{ article.text|markdown }}

    {% with total_likes=article.users_like.count users_like=article.users_like.all%}
        <button data-id="{{ article.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
        id="like">
            {% if request.user not in users_like %}
                Like
            {% else %}
                Unlike
            {% endif %}
        </button>

        <span class="count">
            <span class="total">{{ total_likes }}</span>
            like{{ total_likes|pluralize }}
        </span>

        <span class="count">
            {{ total_views }} view{{ total_views|pluralize }}
        </span>
    {% endwith %}

    <h2>Similar posts</h2>
        {% for article in similar_articles %}
            <p>
                <a href="{{ article.get_absolute_url }}">{{article.title}}</a>
            </p>
        {% empty %}
            <p>There are no similar article yet.</p>
        {% endfor %}

    <h2>Add a new comment</h2>
    <div class="new-comment">
        {% if user.is_authenticated %}
            <form action="{% url 'articles:create_comment' article.slug %}" method="post" class="new-comment-form">
                <p> <textarea name="body" cols="40" rows="10" maxlength="2000" required="" id="id_body"></textarea></p>
                {% csrf_token %}
                <p><input type="submit" value="Add comment"></p>
            </form>
<!--            <button data-url="% url 'articles:create_comment' article.slug %}" class="new-comment">Add comment</button>-->
        {% else %}
            <p>You should <a href="{% url 'account:login' %}">log-in</a></p>
        {% endif %}
    </div>
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}

    <div class="all-comments">
        {% include 'articles/comment/partial_comments_all.html' %}
    </div>

{% endblock %}

{% block domready %}
    $('#like').click(function(e) {
        e.preventDefault();
        $.post('{% url "articles:like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
                function(data) {
                    if (data['status'] == 'ok')
                    {
                        var previous_action = $('#like').data('action');
                        $('#like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                        $('#like').text(previous_action == 'like' ? 'Unlike' : 'Like');
                        var previous_likes = parseInt($('span.count .total').text());
                        $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                    }
                }
        );
    });

    var loadForm = function () {
        var button = $(this);
        var text = button.parent().next();
        $.ajax({
            url: button.attr('data-url'),
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
{#                $('#new-comment').hide();#}
            },
            success: function (data) {
                $(text).html(data.html_form);
            }
        });
    }

    var saveForm = function () {
        var form = $(this)
        var text = form.parent()
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function (data) {
                if (data.form_is_valid) {
                    $(".all-comments").html(data.html_comments_all);
                    $(form.find('textarea')).val('');
{#                    $(text).html(form.find('textarea').val());#}
{#                    $('#new-comment').show();#}
                }
            }
        });
        return false;
    }

    $('.all-comments').on("click", ".edit", loadForm);
    $('.all-comments').on('submit', '.edit-form', saveForm);

    $('.all-comments').on("click", ".delete", loadForm);
    $('.all-comments').on('submit', '.delete-form', saveForm);

    $('.new-comment').on('submit', '.new-comment-form', saveForm);
{% endblock %}