{% extends "../../base.html" %}
{% load article_tags %}

{% block title %}Вся писанина{% endblock %}

{% block content %}
    <h1>Котоламповий бложик</h1>

    {% if perms.articles.add_article %}
        <a href="{% url 'articles:create_article' %}"><button>Створити нову статтю</button></a>
    {% endif %}

    {% if tag %}
        <h2>Статті за тегом "{{ tag.name }}":</h2>
    {% endif %}

    {% for article in articles %}
        <div class="article">
            <div class="article-header">
                <h2>
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </h2>
                <p class="tags">
                    {% for tag in article.tags.all %}
                        <a href="{% url 'articles:all_articles_by_tag' tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="date">{{ article.author }}  {{ article.date_created }}</p>
            </div>
            <div class="article-body">
                {{ article.text|safe|truncatewords:30 }}
            </div>
            <div class="article-footer">
                <p class="article-info">
                    Коментарів: {{ total_comments }} Вподобайок: {{ total_likes }}
                </p>
            </div>
        </div>

    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}
