<!DOCTYPE html>
{% load article_tags %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="wqCi-t1emBl4KCHUBB6L0gUdS9pdWaa46T2v2w4ZgG4" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base2.css' %}">
</head>
<body>
    <header class="header">
    	<nav class="site-nav">
            <a class="site-title" href="{% url 'articles:all_articles' %}">Котоламповий бложик</a>
            <div class="main-nav">
                <ul>
                    <li {% if section == "articles" %}class="nav-item selected"{% else %} class="nav-item"{% endif %}>
                        <a href="{% url 'articles:all_articles' %}">Головна</a>
                    </li>♡
                    <li {% if section == "film" %}class="nav-item selected"{% else %} class="nav-item"{% endif %}>
                        <a href="{% url 'articles:film_articles' %}">Фільми</a>
                    </li>♡
                    <li {% if section == "anime" %}class="nav-item selected"{% else %} class="nav-item"{% endif %}>
                        <a href="{% url 'articles:anime_articles' %}">Аніме</a>
                    </li>♡
                    <li {% if section == "game" %}class="nav-item selected"{% else %} class="nav-item"{% endif %}>
                        <a href="{% url 'articles:game_articles' %}">Ігри</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'articles:article_search' %}" method="get" id="search">
                            <span><label for="search-field"></label>
                                <input type="text" name="query" maxlength="50" placeholder="Шукати на сайті..."
                                       required="" id="search-field">
                            <input type="submit" value="Пошук" class="button"></span>
                        </form>
                    </li>
                    <li {% if section == "dashboard" %}class="nav-item selected"{% else %} class="nav-item"{% endif %}>
                            <a href="{% url 'account:dashboard' %}" class="button">Мій кабінет</a>
                    </li>
                    {% if user.is_authenticated %}
                        <!-- Привет {{ request.user.first_name }}, -->
                    <li class="nav-item">
                        <a href="{% url 'account:logout' %}" class="button">Вихід</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account:login' %}" class="button">Вхід</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </header>

{#    {% if messages %}#}
{#        <ul class="messages">#}
{#            {% for message in messages %}#}
{#                <li class="{{ message.tags }}">#}
{#                    {{ message|safe }}#}
{#                    <a href="#" class="close">x</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}

    <main>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <aside id="sidebar">
            <div class="last-articles">
                <h3>Останні статті</h3>
                {% show_latest_articles 3 %}
            </div>

            <div class="commented-articles">
                <h3>Найбільш коментовані статті</h3>
                {% get_most_commented_articles 3 as most_commented_articles %}
                <ul>
                    {% for article in most_commented_articles %}
                        <li>
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
	    <p><a href="{% url 'account:feedback' %}">Побажання та пропозиції?</a></p>
        {#<p><a href="{% url 'articles:article_feed' %}">Subscribe to my RSS feed</a></p>#}
        </aside>
    </main>

    <footer>
        <p>Творимо милоту з 2020 року</p>
        <p>Створено котиками для котиків</p>
        <p>Зв'язатися з нами: <a href="mailto:kotolampa.blog@gmail.com">kotolampa.blog@gmail.com</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/dist/css/select2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}">
    <script src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static 'autocomplete_light/select2.js' %}"></script>
    <script src="{% static 'autocomplete_light/forward.js' %}"></script>
    <script src="{% static 'autocomplete_light/jquery.post-setup.js' %}"></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            // Для этих методов токен не будет подставляться в заголовок.
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
        });
        $(document).ready(function(){
            {% block domready %}
            {% endblock %}
        });
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>
