{% extends "../base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data" id="profile-form">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
{% endblock %}
{% block domready %}
<!--    $('#id_phone').addClass('phone-field');-->
    $('#id_phone').inputmask("+380(99)999-99-99", {"placeholder": "_", clearMaskOnLostFocus : false});
    $('#id_date_of_birth').inputmask("99.99.9999", {"placeholder": "ДД.ММ.РРРР", clearMaskOnLostFocus : false});
<!--    jQuery.validator.addMethod("checkMaskPhone", function(value, element) {-->
<!--        return /\+\d{3}\(\d{2}\)\d{3}-\d{2}-\d{2}/g.test(value);-->
<!--    });-->

<!--    // получаем нашу форму по class-->
<!--    var form = $('#profile-form');-->

<!--    // включаем валидацию в форме-->
<!--    form.validate({-->
<!--        messages: {-->
<!--            phone: "Enter correct phone number"-->
<!--        }-->
<!--    });-->


<!--    // вешаем валидацию на поле с телефоном по классу-->
<!--    $.validator.addClassRules({-->
<!--        'phone-field': {-->
<!--            checkMaskPhone: true-->
<!--        }-->
<!--    });-->
{% endblock %}